* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;

}

.container input {
    border: 1px solid #D50000;
    outline: none;
    height: 50px;
    width: 0px;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    transition: .5s;
}

input::placeholder {
    color: gray;
}

.container .toggle-btn {
    background: #D50000;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2px;
    cursor: pointer;

}

.toggle-btn i {
    color: #fff;
    transition: transform .5s ease;
}

.container:hover input {
    width: 300px;
    background: #fff;
}

.container:hover .toggle-btn i {
    transform: rotate(360deg);
}